#Start gitignore

#Directories
.dart_tool/
android/
build/
fonts/
ios/
screenshots/
test/

#Files
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.gitattributes
.packages
debug.keystore
georeminder.iml
pubspec.lock
